name: Build CTE
on:
    push:
        tags:
            - '*'
env:
    PYTHON_VERSION: "3.12.8"
jobs:
    build-windows:
        permissions: write-all
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
                submodules: true
            - name: Set up MSBuild
              uses: microsoft/setup-msbuild@v2
            - name: Set up Python
              uses: actions/setup-python@v5
              id: setup-python
              with:
                python-version: ${{ env.PYTHON_VERSION }}
            - name: Download Python embeddable package
              run: |
                $url = "https://www.python.org/ftp/python/${{ env.PYTHON_VERSION }}/python-${{ env.PYTHON_VERSION }}-embed-amd64.zip"
                Invoke-WebRequest -Uri $url -OutFile python-embed.zip
                Expand-Archive -Path python-embed.zip -DestinationPath python-embed
            - name: build
              run: |
                $pythonHome = Split-Path -Parent "${{ steps.setup-python.outputs.python-path }}"
                $pythonEmbed = "${{ github.workspace }}\python-embed"
                msbuild CrashTeamEditor.vcxproj /p:configuration=release /p:Platform=x64 /p:DebugSymbols=false /p:DebugType=None /p:PYTHON_HOME="$pythonHome" /p:PYTHON_EMBED_HOME="$pythonEmbed"
            - name: zip
              run: Compress-Archive x64\release\ CrashTeamEditor-windows-x64.zip
            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                files: CrashTeamEditor-windows-x64.zip
    build-linux:
        permissions: write-all
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
                submodules: true
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: ${{ env.PYTHON_VERSION }}
            - name: Install dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y libwayland-dev wayland-protocols libxkbcommon-dev \
                  libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev \
                  libgl1-mesa-dev
            - name: build
              run: make release
            - name: compress
              run: tar -f CrashTeamEditor-linux-x64.tar.gz -c CrashTeamEditor.out
            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                files: CrashTeamEditor-linux-x64.tar.gz